.footer {
  background-color: #f5f5f5;
}
.inner-padded {
  padding-top: 5em; !important;
  padding-bottom: 5em; !important;
}
.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}


.area1 {
  padding: 20px 0px;
  height: 80px;
  text-align: center;
  background-color: #252A2E;
  color: #D70316;

    list-style-type: none;
    padding-left: 0;
}

.area2 {
  display: flex;
  height: 39px;
  margin-bottom: 50px;
  text-align: right;
  color: #252A2E;
  background-color: #D70316;
}
