<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<header>
    <div class="area1" style="background-color: #252A2E; padding: 20px 0px; height: 50px; color: #D70316; text-align: center;">
        <p>Customers Area</p>
    </div>
    <div style="background-color: #D70316; padding: 20px 100px 30px; height: 19px; color: #d4dbe0; text-align: right;">
        <section>
            <form action="#" th:action="@{/searchResult}" th:object="${customer}" method="post" >
                <table>
                    <tr>
                        <td><input type="text" id="lastName" th:field="*{lastName}" ></td>
                        <td><input class="btn btn-dark" type="submit" value="Search" ></td>
                    </tr>
                </table>
            </form>
        </section>
    </div>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="card-text">
                        <table>
                            <tr th:each="cust: ${customers}">
                                <td th:text='${cust.getFirstName()}'></td>
                                <td th:text='${cust.getLastName()}'><br><hr></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
