<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<header>
    <div class="area1" style="background-color: #252A2E; padding: 20px 0px; height: 50px; color: #D70316; text-align: center;">
        <p>Customers Area</p>
    </div>
    <div class="area1" style="background-color: #D70316; padding: 20px 30px; height: 19px; color: #d4dbe0; text-align: right;">
    </div>

</header>
<body>

<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3">Existing customers</h1>
    </div>
    <div class="row">
       <!-- <div class="col-sm-4" th:each="cust:${customers}"> -->
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" th:text="${customer}"></h5>
                    <a class="btn btn-success" th:href="'/customers/' + ${customer.getLastName()}">View</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
